<a href="index.html" class="nav-item nav-link active">Home</a>
<a href="category.html" class="nav-item nav-link ">Category</a>
<a href="single.html" class="nav-item nav-link">Single News</a>
<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Dropdown</a>
    <div class="dropdown-menu rounded-0 m-0">
        <a href="#" class="dropdown-item">Menu item 1</a>
        <a href="#" class="dropdown-item">Menu item 2</a>
        <a href="#" class="dropdown-item">Menu item 3</a>
    </div>
</div>
<a href="contact.html" class="nav-link">Contact</a>