*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: #f5f3fe;
}
ul {
  list-style: none;
}
label {
  display: block;
}
input {
  padding: 15px;
  width: 100%;
  border: 1px #ccc solid;
  border-radius: 6px;
  outline: none;
  margin: 5px 0 35px 0;
}
::-webkit-input-placeholder {
  /* Edge */
  color: rgb(103, 103, 103);
  font-size: 18px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(103, 103, 103);
  font-size: 18px;
}

::placeholder {
  color: rgb(103, 103, 103);
  font-size: 18px;
}
.wrapper {
  width: 1175px;
  background-color: #fff;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.164);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 10px;
}

.content-left {
  width: 35%;
  float: left;
  background-image: linear-gradient(to right bottom, #b68ee7, #7961d1);
  padding: 65px;
  border-radius: 10px;
  color: #fff;
}
.content-left .fa-check {
  background-color: #b68ee7;
  padding: 10px;
  border-radius: 50%;
  font-size: 20px;
}
.content-left span {
  display: block;
  margin: 10px 0;
  font-size: 20px;
}
.content-left p {
  word-break: break-word;
}
.content-left li {
  margin-bottom: 30px;
}
.content-right {
  width: 65%;
  float: right;
  padding: 110px 150px 0 90px;
}
.heading {
  font-size: 30px;
  margin-bottom: 40px;
}
#input-checkbox,
#input-submit {
  display: none;
}
.checkbox {
  border: 1px #ccc solid;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.checkbox .fa-check {
  padding: 5px;
  visibility: hidden;
  color: #9843ff;
  font-size: 20px;
}
#input-checkbox:checked + .checkbox > .fa-check {
  visibility: visible;
}
.text-term {
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  color: rgb(103, 103, 103);
  font-size: 17px;
}
.term {
  vertical-align: middle;
}
.submit {
  cursor: pointer;
  margin: 10px auto;
  background-color: #6e59ce;
  padding: 20px 15px;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  margin-top: 37px;
}
