* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
.container {
  padding: 20px 20px;
}
header {
  float: right;
}

.iconGrid {
  width: 22px;
  height: 22px;
  object-fit: cover;
}
a {
  vertical-align: middle;
  text-decoration: none;
  color: #212121;
}
.gmail {
  margin-right: 16px;
}
.images {
  margin-right: 30px;
}
.grid {
  margin-right: 25px;
}
.login {
  background-color: #1a73e8;
  padding: 10px 25px;
  border-radius: 4px;
  color: #fff;
}
main {
  text-align: center;
  margin: 210px 0 310px 0;
}
.logo {
  width: 272px;
  height: 92px;
  object-fit: contain;
}
.input {
  width: 584px;
  margin: 25px auto;
  position: relative;
}

.input-search {
  padding-left: 50px;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px #ccc solid;
  height: 50px;
  border-radius: 25px;
  outline: #ccc;
}

.input-right {
  position: absolute;
  right: 20px;
  top: 0;
  transform: translateY(50%);
}
.iconSearch {
  position: absolute;
  left: 20px;
  top: 0;
  transform: translateY(100%);
  color: #9aa0a6;
}
.iconKeyboard {
  vertical-align: middle;
  margin-right: 10px;
}
.mic {
  width: 24px;
  height: 24px;
  object-fit: contain;
  vertical-align: middle;
}
.option {
  font-size: 0;
  margin-bottom: 30px;
}
.style-option {
  padding: 10px 15px;
  background-color: #f8f9fa;
  font-size: 16px;
}
.seeFirstPageFound {
  font-size: 16px;
  margin-left: 12px;
}
.languageList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.languageList > a {
  margin-left: 10px;
  color: #0b63a1;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
}
.top > span {
  padding: 15px 30px;
  color: #70757a;
  display: block;
  border-bottom: 1px #ccc solid;
}
li {
  display: inline-block;
}
.left {
  float: left;
}
.left li,
.right li {
  padding: 15px;
}
.left li a,
.right li a {
  color: #70757a;
}
.right {
  float: right;
}
.bottom {
  overflow: auto;
  padding: 0 20px;
}
