* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 500px;
  margin: 100px auto;
  background-color: rgb(192, 161, 10);
  font-size: 0;
}
.box-left {
  width: 30%;
  background-color: blue;
  display: inline-block;
  font-size: 16px;
  border: 2px rgb(16, 16, 16) solid;
}
.box-top {
  width: 70%;
  background-color: green;
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
  border: 2px red solid;
}
