* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1000px;
  margin: 100px auto;
  background-color: rgb(195, 255, 84);
  padding: 10px;
  text-align: center;
}
.content {
  display: inline-block;
}
.facebook {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(49, 166, 250);
  text-align: center;
  line-height: 100px;
  font-size: 50px;
  color: #fff;
}
.left {
  float: left;
  margin-right: 4px;
  background-color: #fff;
  color: blue;
}

.right {
  float: right;
}
