* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: rgb(243, 243, 18);
  font-size: 0;
  width: 1230px;
  margin: 0 auto;
}
.wrapper {
  margin-left: -30px;
  padding: 15px 0;
  margin-top: -24px;
}
.box {
  width: calc(25% - 30px);
  margin-left: 30px;
  display: inline-block;
  font-size: 16px;
  padding: 30px;
  color: #fff;
  vertical-align: middle;
  margin-top: 24px;
}
p::first-letter {
  color: yellow;
  font-size: 200%;
}
.box:nth-child(odd) {
  background-color: #17757f;
}
.box:nth-child(even) {
  background-color: #282844;
}
