:root {
  --color-primary: #ffc800;
  --color-text: #fff;
  --row-3: 33.33%;
  --row-2: 50%;
  --row: 50%;
  /* variable of timeline */
  --margin-left: 90px;
  --area-circle: 180px;
  --center-circle: var(--margin-left);
  --padding-timeline-content: calc(var(--center-circle) + 30px);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
  color: var(--color-text);
}
ul {
  list-style: none;
}
.container {
  max-width: 1297px;
  margin: 0 auto;
  padding: 0 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
}
.col {
  width: var(--row-3);
  padding-left: 15px;
  padding-right: 15px;
}
.section:nth-child(even) {
  background-color: #f8f9fa;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10000;
  background-color: #212529;
  line-height: 75px;
}
.navbar .content {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.logo {
  width: 150px;
}
.menu {
  display: flex;
  gap: 0 33px;
  text-transform: uppercase;
}
.menu-link:hover {
  color: var(--color-primary);
}
.header {
  margin-top: 74px;
  background: url(./images/banner.jpg) center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 668px;
}
.header .content {
  text-align: center;
  color: var(--color-text);
  padding-top: 200px;
}
.header .subheading {
  font-size: 36px;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 20px;
}
.header .heading {
  font-size: 55px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.btn-primary {
  padding: 20px 40px;
  background-color: var(--color-primary);
  border-radius: 3px;
  color: var(--color-text);
  text-transform: uppercase;
  font-weight: 700;
}
.section {
  padding-bottom: 110px;
}
.category {
  text-align: center;
  margin-bottom: 68px;
}
.category .heading {
  padding-top: 79px;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 45px;
}
.category .subheading {
  font-style: italic;
}
.box-item {
  text-align: center;
}
.box-item .heading {
  margin-bottom: 30px;
}
.box-item .subheading {
  line-height: 24px;
}
.icon {
  width: 130px;
  height: 130px;
  background-color: var(--color-primary);
  border-radius: 50%;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}
.box-item .fa-solid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-text);
  font-size: 50px;
}

/* portfolio */

.portfolio-item {
  background-color: #fff;
  text-align: center;
  margin-bottom: 30px;
}
.portfolio-item > .image {
  height: 310px;
  display: block;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.portfolio-item > .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color-primary);
  opacity: 0.8;
  visibility: hidden;
}
.hover-after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 700;
  font-size: 70px;
  visibility: hidden;
}
.portfolio-item > .image:hover::before {
  visibility: visible;
}
.portfolio-item > .image:hover > .hover-after {
  visibility: visible;
}
.portfolio-item .subheading {
  margin-top: 10px;
  padding-bottom: 30px;
  font-style: italic;
}
.portfolio-item .heading {
  margin-top: 37px;
  font-style: italic;
}
/* timeline */

.timeline {
  position: relative;
}
.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  top: 0;
  width: 2px;
  background-color: #ccc;
}
.timeline .item {
  position: relative;
  width: 50%;
  display: flex;
  text-align: right;
}
.timeline .item:not(:last-child) {
  margin-bottom: 137px;
}
.timeline .item:nth-child(even) {
  margin-left: auto;
  text-align: left;
}
.timeline .item:nth-child(even) > .timeline-image {
  top: 0;
  left: 0;
  transform: translateX(-90px);
}
.timeline .item:nth-child(even) > .timeline-content {
  padding-left: var(--padding-timeline-content);
  padding-right: 0;
}
.timeline-image {
  width: var(--area-circle);
  height: var(--area-circle);
  border-radius: 50%;
  overflow: hidden;
  border: 5px #e9ecef solid;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(var(--center-circle));
}
.timeline > .item:last-child {
  width: 100%;
}
.timeline-image.circle {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-primary);
}
.timeline-image.circle > h4 {
  text-align: center;
  line-height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.timeline-content {
  padding-right: var(--padding-timeline-content);
  flex: 1;
}
.timeline-content > h4 {
  font-size: 28px;
}
.timeline-content > p {
  margin-top: 8px;
  line-height: 24px;
  word-break: break-word;
  color: #6c757d;
}
/* team */
.author {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.author .row {
  width: 100%;
}
.avatar {
  width: 225px;
  height: 225px;
  border-radius: 225px;
  overflow: hidden;
  border: 8px #ccc solid;
  margin-bottom: 26px;
  display: inline-block;
}
.name {
  margin-bottom: 5px;
}
.author .category {
  margin-bottom: 20px;
}
.social {
  display: flex;
  justify-content: center;
  gap: 0 20px;
}
.social a {
  background-color: #000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
}
.author-text {
  width: 800px;
  text-align: center;
  margin: 58px auto 0;
}
.banner {
  padding: 60px 0;
}
.banner ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner li {
  height: 45px;
}
.banner > img {
  object-fit: contain;
}

.contact {
  background: url(./images/bgrFooter.png) center center no-repeat,
    linear-gradient(to right, #212529, #212529);
  width: 100%;
  height: 100%;
  text-align: center;
}
.contact .category {
  color: #fff;
}
.contact .category > .subheading {
  color: #ccc;
}

.input-group > input:not(:last-child) {
  margin-bottom: 30px;
}
.input-group > input,
.text-area > textarea {
  display: block;
  width: 100%;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  font-size: 20px;
}
.input-group,
.text-area {
  width: 50%;
}
.text-area > textarea {
  height: 100%;
  resize: none;
}
::placeholder {
  color: #ccc;
  font-size: 20px;
}
.btn-submit {
  padding: 20px 30px;
  background-color: var(--color-primary);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 6px;
  margin-top: 30px;
  cursor: pointer;
}

.contact-us a {
  color: #000;
}
.footer {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.menu-mobile {
  display: none;
}
.checkbox__check {
  display: none;
}
.checkbox__check--label {
  border: 1px rgba(255, 255, 255, 0.55) solid;
  padding: 15px 15px;
  color: rgba(255, 255, 255, 0.55);
  border-radius: 10px;
  font-weight: 700;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.55);
}
.checkbox__check--label:hover {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.55);
}
.fa-solid {
}
.fa-bars {
}
@media screen and (max-width: 1023px) {
  :root {
    --margin-left: 65px;
    --area-circle: 130px;
    --center-circle: var(--margin-left);
    --padding-timeline-content: calc(var(--center-circle) + 30px);
  }
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
  .menu {
    visibility: hidden;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    width: 100%;
    flex-direction: column;
    background-color: #212529;
    padding-left: 15px;
    padding-bottom: 40px;
  }
  .menu li {
    line-height: 38px;
  }
  .menu-mobile {
    display: inline-block;
  }
  .checkbox__check:checked ~ .menu {
    visibility: visible;
  }
  .header .heading {
    font-size: 70px;
    margin-bottom: 60px;
  }
  #portfolio .col {
    width: var(--row-2);
  }
  .timeline .item:nth-child(even) > .timeline-image {
    transform: translateX(-65px);
  }
  .timeline-content {
    margin-left: 30px;
  }
  .timeline .item:nth-child(even) > .timeline-content {
    margin-left: 0;
    margin-right: 30px;
  }
  .author-text {
    width: 100%;
  }
  .author .row {
    flex-direction: column;
    gap: 45px 0;
  }
  .author .col {
    width: 100%;
  }
  .author .item {
  }
  .footer {
    flex-direction: column;
    gap: 20px 0;
  }
}

@media screen and (max-width: 767px) {
  :root {
    --margin-left: 40px;
    --area-circle: 80px;
    --center-circle: var(--margin-left);
    --padding-timeline-content: calc(var(--center-circle) + 30px);
  }
  .checkbox__check--label {
    padding: 8px;
  }
  .header .heading {
    font-size: 50px;
  }
  .header .subheading {
    font-size: 30px;
  }

  .container {
    padding: 0 15px;
  }
  #services .row,
  #portfolio .row {
    flex-direction: column;
    gap: 30px 0;
  }
  #services .col,
  #portfolio .col {
    width: 100%;
  }
  .timeline::before {
    top: 0;
    left: var(--margin-left);
  }

  .timeline .item {
    width: 100%;
    text-align: left;
  }
  .timeline .item:nth-child(even) {
    width: 100%;
    text-align: left;
  }
  .timeline-image {
    position: relative;
    transform: translateX(0);
  }
  .timeline .item:nth-child(even) > .timeline-image {
    transform: translateX(0);
  }
  .timeline .item:nth-child(even) > .timeline-content {
    padding-left: 0;
    margin-left: 20px;
    margin-right: 0;
  }
  .timeline-content {
    margin-left: 20px;
    padding-right: 0;
  }
  .timeline-content > h4 {
    font-size: 25px;
  }
  .timeline-image.circle {
    left: 0;
    transform: translateX(0);
  }
  .timeline-image.circle > h4 {
    position: relative;
    font-size: 12px;
    line-height: 17px;
  }
  .banner ul {
    flex-direction: column;
    gap: 30px 0;
  }
  .content.row {
    flex-direction: column;
    gap: 30px 0;
  }
  .content .col {
    width: 100%;
  }
  .text-area {
    height: 200px;
  }
  .portfolio-item .image {
    height: 350px;
  }
}
